<!DOCTYPE html>
{% extends 'Pizza/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}
<body>
        <div id="div1">
            <p>Você está na Home do PizzaApp</p><br>
            <p>Seja muito bem-vindo a este aplicativo que ira,
                revolucionar o mercado.</p><br>
            <p>Então o quê está esperando? Registre-se!!!!!</p>
        </div>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
{% endblock %}
</html>