<!DOCTYPE html>
<html lang="en">
{% extends 'menu/base_menu.html' %}
{% block content %}
<body>
    <div class="item3">
        <ul>
            {% for object_list in object_list %}
            <li><a href="{% url 'menu:url_tamanhoUp' object_list.id %}">{{object_list}}  <a class="close" href="{% url 'menu:url_tamanhoDel' object_list.id %}">&times;</a></li>
            {% endfor %}
         </ul>
        <a href="{% url 'menu:url_tamanhoAdd' %}">Adicionar tamanho</a>
    </div>
</body>
{% endblock %}
</html>